$body-font-family: 'Inconsolata', monospace
@use "sass:map"
@import '~vuetify/src/styles/main.sass'

//.background--error
// background-color: map.get($red, "accent-2")

@import '~vuetify/src/styles/styles.sass'
// @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900&display=swap")

/* */
html, body
  height: 100%
  width: 100%
  overflow: hidden

#app
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  overflow: auto

/* remove number scroll */
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
input[type=number]
  -moz-appearance: textfield

.placeholder--italic input::placeholder
  font-style: italic !important
  color: map.get($grey, "darken-2") !important

.gear-filter
  // max-width: auto

.gear-filter.v-btn-toggle > .v-btn.v-btn
  opacity: 1

.gear-filter > .v-btn.v-btn
  min-width: 42px
  max-width: 54px

.gear-filter > .v-btn.v-btn.with-figure
  height: 45px
  min-width: 52px

.disable-events
  pointer-events: none

.gear-stat-input
  max-width: 300px
  min-width: 300px
